.git
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/hot
public/storage
public/build
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
Thumbs.db
*.log
README.md
